# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
DATABASE_URL=postgres://payouts_user:payouts_pass@db:5432/payouts_db

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0
