# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
mediafiles/

# Environment
.env

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
